Create a function that takes a string and returns it as an integer.
Examples:
    
string_int("6") ➞ 6

string_int("1000") ➞ 1000

string_int("12") ➞ 12

In [1]:
## SOLUTION: 
def string_int(txt):
    string_int = int(txt)
    return string_int

In [2]:
string_int("6")

6

In [3]:
string_int("1000")

1000

Create a function that finds the maximum range of a triangle's third edge, where the side lengths are all integers.

Examples:
    
next_edge(8, 10) ➞ 17

next_edge(5, 7) ➞ 11

next_edge(9, 2) ➞ 10

In [4]:
## SOLUTION:
def next_edge(side1, side2):
    result = (side1 + side2) - 1
    return result

In [5]:
next_edge(8, 10)

17

In [6]:
next_edge(5, 7)

11

Create a function that takes two numbers as arguments and return their sum.

Examples:

addition(3, 2) ➞ 5

addition(-3, -6) ➞ -9

addition(7, 3) ➞ 10

In [7]:
## SOLUTION:
def addition(a, b):
    return a+b

In [8]:
addition(3, 2)

5

In [9]:
addition(-3, -6)

-9

## Create a function that takes a number num and returns its length.

number_length(10) ➞ 2

number_length(5000) ➞ 4

number_length(0) ➞ 1

In [1]:
def number_length(num):
	number = str(num)
	return len(number)

In [2]:
number_length(10)

2

In [3]:
number_length(5000)

4

In [4]:
number_length(0)

1

#### Seconnd Way

In [1]:
def number_length(num):
	number = str(num)
	count = 0
	for i in number:
		count += 1
	return count

In [2]:
number_length(10)

2

In [ ]:
## Alternative 1
def number_length(num):
    return sum(1 for x in str(num))
## Alternative 2
def number_length1(num):
    return sum(map(lambda x:1, str(num)))
## Alternative 3
def number_length2(num):
    return str(num).rindex(str(num)[-1]) + 1

## Create a function that takes a number as an argument and returns "Fizz", "Buzz" or "FizzBuzz".

If the number is a multiple of 3 the output should be "Fizz".
If the number given is a multiple of 5, the output should be "Buzz".
If the number given is a multiple of both 3 and 5, the output should be "FizzBuzz".
If the number is not a multiple of either 3 or 5, the number should be output on its own as shown in the examples below.
The output should always be a ring even if it is not a multiple of 3 or 5.

fizz_buzz(3) ➞ "Fizz"

fizz_buzz(5) ➞ "Buzz"

fizz_buzz(15) ➞ "FizzBuzz"

fizz_buzz(4) ➞ "4"

In [4]:
def fizz_buzz(num):
	if num % 15 == 0:
		return "FizzBuzz"
	elif num % 3 == 0:
		return "Fizz"
	elif num % 5 == 0:
		return "Buzz"
	else:
		return str(num)

In [5]:
fizz_buzz(3)

'Fizz'

In [6]:
fizz_buzz(5)

'Buzz'

In [7]:
fizz_buzz(15)

'FizzBuzz'

In [8]:
fizz_buzz(4)

'4'

In [ ]:
## Second way
def fizz_buzz1(num):
    return 'FizzBuzz' if ((num % 5) + (num % 3))==0 else "Buzz" if num % 5==0 else 'Fizz' if num % 3==0 else str(num)

## Imagine a circle and two squares: a smaller and a bigger one. For the smaller one, the circle is a circumcircle and for the bigger one, an incircle.

Create a function, that takes an integer (radius of the circle) and returns the difference of the areas of the two squares.

##### Examples
square_areas_difference(5) ➞ 50

square_areas_difference(6) ➞ 72

square_areas_difference(7) ➞ 98

In [1]:
def square_areas_difference(r):
    bigger_sq_area = (2*r) **2
    small_sq_area = 0.5 * ((2*r)**2)
    return bigger_sq_area - small_sq_area

In [2]:
square_areas_difference(5)

50.0

In [3]:
square_areas_difference(6)

72.0

In [4]:
square_areas_difference(7)

98.0

## Create a function that converts a date formatted as MM/DD/YYYY to YYYYDDMM.

Examples

format_date("11/12/2019") ➞ "20191211"

format_date("12/31/2019") ➞ "20193112"

format_date("01/15/2019") ➞ "20191501"

In [5]:
date = "11/12/2019"

In [6]:
date1 = date.split("/")

In [11]:
date1.reverse()

In [13]:
date1

['2019', '12', '11']

In [15]:
date2 = "".join(date1)

In [16]:
date2

'20191211'

In [19]:
"".join(date.split("/")[::-1])

'20191211'

In [17]:
def format_date(date):
	date1 = date.split("/")
	date1.reverse()
	date2 = "".join(date1)
	return date2

In [22]:
format_date("12/31/2019")

'20193112'

In [21]:
def format_date2(date):
    return "".join(date.split("/")[::-1])

In [23]:
format_date2("12/31/2019")

'20193112'

## A quadratic equation a x² + b x + c = 0 has either 0, 1, or 2 distinct solutions for real values of x. Given a, b and c, you should return the number of solutions to the equation.

Examples

solutions(1, 0, -1) ➞ 2
// x² - 1 = 0 has two solutions (x = 1 and x = -1).

solutions(1, 0, 0) ➞ 1
// x² = 0 has one solution (x = 0).

solutions(1, 0, 1) ➞ 0
// x² + 1 = 0 has no real solutions.

In [28]:
def solutions(a, b, c):
	if ((b * b) - (4 * a * c)) > 0 : 
		 return 2
	elif ((b * b) - (4 * a * c)) == 0:
		 return 1
	else:
		return 0

In [29]:
solutions(1, 0, -1)

2

In [30]:
solutions(1, 0, 0)

1

In [31]:
solutions(1, 0, 1)

0

### Write a function that takes a number and returns True if it's a prime; False otherwise. The number can be 2^64-1 (2 to the power of 63, not XOR). With the standard technique it would be O(2^64-1), which is much too large for the 10 second time limit imposed by Edabit.

Examples

prime(7) ➞ True

prime(56963) ➞ True

prime(5151512515524) ➞ False

In [1]:
def prime(x):
    i=2
    while i**2<=x:
        if x%i==0:
            return False
        i+=1 
    if x==1:
        return False
    else:
        return True

In [2]:
prime(7)

True

In [3]:
prime(56963)

True

In [4]:
prime(5151512515524)

False

## There are three cups on a table, at positions A, B, and C. At the start, there is a ball hidden under the cup at position B.

Image of cups where ball is under middle cup

However, I perform several swaps on the cups, which is notated as two letters. For example, if I swap the cups at positions A and B, I could notate this as AB or BA.

Create a function that returns the letter position that the ball is at, once I finish swapping the cups. The swaps will be given to you as a list.

Worked Example
cup_swapping(["AB", "CA", "AB"]) ➞ "C"

 Ball begins at position B.
 Cups A and B swap, so the ball is at position A.
 Cups C and A swap, so the ball is at position C.
 Cups A and B swap, but the ball is at position C, so it doesn't move.
 
Examples

cup_swapping(["AB", "CA"]) ➞ "C"

cup_swapping(["AC", "CA", "CA", "AC"]) ➞ "B"

cup_swapping(["BA", "AC", "CA", "BC"]) ➞ "A"

In [1]:
def cup_swapping(swaps):
    ball = 'B'
    for i in swaps:
        if ball in i:
            ball = i.replace(ball,'')
    return ball

In [2]:
cup_swapping(["AB", "CA"])

'C'

In [3]:
cup_swapping(["AC", "CA", "CA", "AC"])

'B'

In [4]:
cup_swapping(["BA", "AC", "CA", "BC"])

'A'

## Welcome to the beginning of this collection on Computer Science Algorithms. Admittedly there are other challenges on Edabit that deal with recursion and algorithmic processes, but these particular challenges are designed to give examples and to educate users on the topics being covered.

Recursion

In computer science, "recursion" is the act of writing a function that calls itself from within its own code. The function below better helps explain and illustrate recursion by simply counting down from a given number to zero:

def factorial(num):
    targetNumber = 0

  if num == targetNumber:
    print("Countdown complete!")
  else:
    factorial(num - 1)
    
Explanation

The above function starts by initializing the target number, which is zero, then it creates a base case by checking if the inputted number has reached the target number yet. If it has, then the function ends and it prints the statement, else the function inputs num subtracted by one and then runs the function again.

When using recursive functions a "Base Case" is needed. A base case will stop the function once it reaches its intended goal. In the absence of a base case, the program can either crash due to "Stack Overflow" or by initiating an "Infinite Loop."

On a side note, initializing variables in recursive functions can sometimes be problematic because when the function runs again it will reset the value of that variable. For this specific recursive function the variable works fine because the target number we're trying to reach is consistently zero.

Instructions

The recursive function for this challenge should return the factorial of an inputted integer. If anyone needs a refresher, factorials in mathematics are represented by an exclamation point placed to the right of a number: 4! = 4 x 3 x 2 x 1 = 24

Examples

factorial(5) ➞ 120

factorial(3) ➞ 6

factorial(2) ➞ 2

In [5]:
def factorial(num):
    if num <= 1:
        return 1
    else:
        return num* factorial(num - 1)

In [6]:
factorial(5)

120

In [7]:
factorial(3)

6

In [9]:
factorial(2)

2